#titleCont{
    margin-top: 10px;
    height: 200px;

}

#buttonsRow{
margin-top: 50px;
}

#textTitle{
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 100px;
    color: white;
    padding-top: 30px;
}

.list-group-item{
    margin-top: 30px;
}

.articlecomplete{
    float: right;
    width: 880px;
}

.saveArticleBtn{
margin-top: 5px;
margin-left: 20px;
width: 200px;
float: right;
}

.removeArticleBtn{

    margin-left: 20px;
    width: 180px;
    float: right;
    margin-top: 5px;
}

#noSaved{
    margin-top: 50px;
    font-size: 100px;
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    color: #17a2b8!important;
}

.addCommentBtn{
    margin-top: 5px;
    width: 180px;
    float: left;
}
.btnDiv {
    position: relative;
}
.divComment{
    position: absolute;
    left: 200px;
    width: 700px;
    /* margin-left: 200px;
    margin-top: 5px;
    margin-right: 0px; */
    margin:0;

}

.comments{
    font-size: 14px;
}

.commentTitle{
    margin-bottom: 0px;
}